[Desktop Entry]
Name=Vesktop
Exec=/usr/bin/vesktop
Terminal=false
Type=Application
Icon=discord-tray
StartupWMClass=vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
Comment=Vesktop is a custom Discord App aiming to give you better performance and improve linux support. Vencord comes pre-installed
#execute this to replace gay logo with a symbolic link to another images sudo find -name "vesktop.*" -exec ln -sf path to image  {} \;
